// --------------------------------
//-------- [ Start Components ] --------
// --------------------------------

@import "assets/scss/vars/vars";
@import "assets/scss/vars/light";
@import "assets/scss/vars/dark";
@import "assets/scss/components/inputs";

//-------- [ End Components ] --------

// --------------------------------
//-------- [ Start Fonts ] --------
// --------------------------------
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: 'en';
    font-style: normal;
    src: url(assets/fonts/din-regular.ttf);
}
@font-face {
    font-family: 'num';
    font-style: normal;
    src: url(assets/fonts/AGENCYB.TTF);
}
  .font-en {
    font-family: 'en';
  }
  @font-face {
    font-family: 'ar';
    font-style: normal;
    src: url(assets/fonts/29ltbukraregular.ttf);
  }
    @font-face {
    font-family: 'q';
    font-style: normal;
    src: url(assets/fonts/Qatar2022Arabic-Bold.ttf);
  }
//-------- [ End Fonts ] --------

// --------------------------------
//-------- [ Start Pages ] --------
// --------------------------------

@import "layout/layout";
// @import "services/services";
// @import "brands/brands";
// @import "contacts/contacts";
// @import "blog/blog";
// @import "faq/faq";
// @import "packges/packges";
// @import "about/about";

//-------- [ End Pages ] --------

// --------------------------------
//-------- [ Start Global ] --------
// --------------------------------

* {
    box-sizing: border-box;
}
body {
    font-family: 'ar';
    background-color: #FFF;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.row {
    overflow: hidden;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.container {
    @media (min-width: 300px) {
        max-width: 100%;
    }
    @media (min-width: 1440px) {
        max-width: 1440px;
    }
}
.row-inside-row {
    margin-right: -8px;
    margin-left: -8px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9,
.col-sm-4,
.col-sm-6 {
    padding-right: 8px;
    padding-left: 8px;
}
a {
    display: block;
    text-decoration: none;
    color: unset;
    &:hover {
        color: unset;
        text-decoration: unset;
    }
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
    display: block;
    position: relative;
    .pretitle {
        font-size: 1.1rem;
        font-weight: 600;
        color: #009578;
    }
    h3 {
        font-size: 3.5rem;
        margin-bottom: 0;
        font-weight: 700;
        margin-top: 3px;
        margin-bottom: 10px;
        color: #0e3e2f;
        span {
            font-weight: 400;
            color: $secondColor;
        }
        @media (max-width: $max-5) {
            font-size: 2rem;
        }
    }
    p {
        display: flex;
        align-items: center;
        width: 60%;
        margin: auto;
        color: #515151;
        font-weight: 500;
        width: 600px;
        margin: 0 auto 0 auto;
        font-size: 0.9rem;
        @media (max-width: $max-5) {
            width: 100%;
        }
    }
}

//-------- [ End Global ] --------

// --------------------------------
//-------- [ Start Index ] --------
// --------------------------------



// index page

.index-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .index-section-header-head {
        span {
            font-size: 0.8rem;
            color: #4d1f95;
            font-weight: 700;
        }
        h3 {
            font-size: 2.75rem;
            font-weight: 700;
        }
    }
    p.text {
        font-size: 0.8rem;
        width: 450px;
        span {
            color: #000;
            font-weight: 600;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #4d1f95;
            }
        }
    }
}
.index-section-header-center {
    text-align: center;
    .index-section-header-head {
        span {
            font-size: 0.8rem;
            color: #4d1f95;
            font-weight: 700;
        }
        h3 {
            font-size: 2.75rem;
            font-weight: 700;
        }
    }
    p.text {
        text-align: center;
        font-size: 0.8rem;
        width: 650px;
        margin: auto;
        span {
            color: #000;
            font-weight: 600;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #4d1f95;
            }
        }
    }
}

.services {
    padding: 100px 0 50px 0;
    background: #FFF;
    .services-container {
        margin-top: 75px;
        .service-card {
            border: 1px solid #e6e6e6;
            padding: 30px 35px 20px 35px;
            border-radius: 12px;
            margin-bottom: 15px;
            .service-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    max-width: 55%;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 700;
                    border: 1px solid #e6e6e6;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    color: #4d1f95;
                }
            }
            .service-icon {
                margin: 35px 0;
                svg {
                    height: 50px;
                    width: 50px;
                    fill: #4d1f95;
                }
            }
            .service-info {
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
.nums {
    .nums-vid {
        height: 400px;
        width: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
        };
        position: relative;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            width: 100%;
            height: 100%;
            background: #54008f;
            opacity: 0.45;
            z-index: 0;
            background-repeat: no-repeat;
            background-position: center center;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }
        .num-vid-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 10;
            border: 1px solid #FFF;
            svg {
                height: 40px;
                width: 40px;
                fill: #FFF;
            }
        }
    }
    .index-section-header {
        padding: 60px 40px 10px 40px;
        margin-top: -190px;
        .index-section-header-head {
            span {
                color: #FFF;
            };
            h3 {
                color: #FFF;
            };
        }
        p.text {
            color: #FFF;
            span {
                color: #FFF;
                &:after {
                    background: #FFF;
                }
            };
        }
    }
    .num-cards {
        background-color: #f5f8fa;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top: 1px solid #cdcbc8;
        .num-card {
            padding: 40px 40px 50px 40px;
            .num-card-head {
                height: 225px;
                h2 {
                    font-family: "num", sans-serif;
                    font-weight: 700;
                    font-size: 5rem;
                }
                span {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: #000;
                }
            }
            p {
                font-size: 0.9rem;
                color: #515151;
                margin: 0;
            }
        }
    }
    .col-lg-3:last-child {
        border-left: unset;
    }
    .col-lg-3 {
        border-left: 1px solid #cdcbc8;
    }
}

.projects {
    padding: 100px 0;
    .project-categories {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        li {
            margin: 0 15px;
            font-size: 0.9rem;
            font-weight: 700;
            position: relative;
            cursor: pointer;
            &:after {
                content: "/";
                margin: 0 20px 0 0;
            }
        }
        .last-li {
            &:after {
                display: none;
            }
        }
    }
    .projects-cards {
        margin-top: 75px;
        .project-card {
            margin-bottom: 50px;
            figure {
                height: 300px;
                width: 100%;
                border-radius: 12px;
                position: relative;
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                };
            }
            .project-cat {
                font-size: 0.75rem;
                background-color: #FFF;
                color: #646573;
                display: inline-flex;
                align-items: center;
                border-radius: 8px;
                padding: 1px 20px 7px 15px;
                position: absolute;
                bottom: -10px;
                right: -9px;
                span {
                    font-weight: 600;
                }
                h4 {
                    margin: 0px 10px 14px;
                }
            }
            .project-arrow {
                position: absolute;
                bottom: 25px;
                left: 30px;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                background-color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 10;
                svg {
                    height: 25px;
                    width: 25px;
                    fill: #000;
                }
            }
            h3 {
                margin-top: 22px;
                font-size: 1.1rem;
                font-weight: 700;
                
            }
        }
    }
}

.testimonilas {
    padding: 0 0 100px 0;
    .tes-container {
        background: #f5f8fa;
        padding: 75px 75px;
        border-radius: 12px;
        .tes-cards {
            margin-top: 75px;
            .tes-card {
                background-color: #54008f;
                padding:  40px 40px;
                border-radius: 12px;
                color: #FFF;
                .test-scocre {
                    display: inline-flex;
                    align-items: baseline;
                    justify-content: space-between;
                    margin-bottom: 0;
                    h3 {
                        font-size: 3.1rem;
                        font-weight: 700;
                        margin: 0;
                        font-family: "num";
                    }
                    span {
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin: 0 5px;
                        font-family: "num";
                        color: #c2c2c2;
                    }
                    h4 {
                        font-size: 1.5rem;
                        font-weight: 700;
                        margin: 0;
                        font-family: "num";
                        color: #c2c2c2;
                    }
                }
                p.text {
                    font-size: 0.8rem;
                    line-height: 1.6;
                    margin-bottom: 100px;
                    color: #FFF;
                    margin-top: 5px;
                }
                .tes-logo-container {
                    position: relative;
                    z-index: 10;
                    width: 170px;
                    @media (max-width: $max-12) {
                        width: 150px;
                    }
                    @media (max-width: $max-9) {
                        width: auto;
                    }
                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        vertical-align: middle;
                    }
                    img {
                        max-width: 100%;
                        height: 50px;
                        margin-top: 0px;
                        @media (max-width: $max-12) {
                            height: 30px;
                        }
                    }
                    span {
                        color: #FFF;
                        font-size: 0.5rem;
                        margin-right: 8px;
                        font-weight: 200;
                    }
                    .main-logo {
                        display: block;
                    }
                    .img-dark {
                        display: none;
                    }
                }
                .tes-team {
                    margin-top: 25px;
                    img {
                        transform: rotateY(180deg);
                        width: 135px;
                    }
                }
                .tes-stars {
                    margin-top: 25px;
                    img {
                        width: 60px;
                    }
                    span {
                        display: block;
                        color: #c2c2c2;
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .review-card {
                background-color: #FFF;
                padding:  40px 40px;
                border-radius: 12px;
                color: #000;
            .review-card-head {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 25px;
                figure {
                    margin-bottom: 0;
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                    height: 70px;
                    width: 70px;
                    border-radius: 8px;
                    margin-left: 25px;
                }
            }
            .review-card-head-info {
                h3 {
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 0.85rem;
                    color: #c2c2c2;
                    font-weight: 500;
                }
            }
            .review-card-content {
                margin-top: 25px;
                h4 {
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-bottom: 40px;
                    line-height: 1.6;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.6;
                    color: #515151;
                    margin: 0;
                }
                .q-icon {
                    color: #4d1f95;
                    margin-right: 8px;
                    margin-top: -20px;
                    font-size: 5rem;
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.blog {
    padding: 0px 0 100px 0;
    .blog-container {
        margin-top: 75px;
        .blog-card {
            figure {
                height: 250px;
                width: 100%;
                border-radius: 12px;
                position: relative;
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                };
                margin-bottom: 0;
            }
            .blog-cat {
                font-size: 0.75rem;
                background-color: #FFF;
                color: #646573;
                display: inline-flex;
                align-items: center;
                border-radius: 8px;
                padding: 1px 0px 0px 0px;
                padding-right: 10px;
                span {
                    font-weight: 600;
                }
                h4 {
                    margin: 0px 10px 14px;
                }
            }
            h3 {
                margin-top: 0;
                font-size: 1.1rem;
                font-weight: 700;
                padding-right: 10px;
                line-height: 1.6;
            }
            p {
                font-size: 0.9rem;
                color: #515151;
            }
        }
    }
}



@keyframes rotate{
    from{ transform: rotate(360deg); }
    to{ transform: rotate(-360deg); }
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #f2fffc, #edf3ff);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d1f95 ; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4d1f95; 
}
