.blog-page {
    padding: 75px 0;
    background: #ebf3ee96;
    .blog-sidebar {
        .blog-more-cards {
            .blog-more-card {
                background-color: #FFF;
                border-color: rgba(255,255,255, 0);
                padding: 35px 25px;
                margin-bottom: 15px;
                border-radius: 12px;
                margin-left: 10px;
                h3 {
                    font-size: 0.9rem;
                    font-weight: 700;
                    margin-bottom: 15px;
                    color: #000;
                }
                .cat-container {
                    margin-top: 35px;
                    .cat-line {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px 0;
                        text-decoration: none;
                        h6 {
                            font-weight: 600;
                            font-size: 0.9rem;
                            margin: 0;
                            color: #000;
                        }
                        span {
                            color: $secondColor;
                            font-weight: 700;
                        }
                    }
                }
                .cat-line-active {
                    h6 {
                        color: $secondColor !important;
                    }
                }
                .blog-search {
                    .form-group {
                        .form-control {
                            border-radius: 0;
                            border: 1px solid #{var(--border-color)};
                            background: #FFF;
                            margin: 30px 0 0 0;
                            outline: none;
                            box-shadow: none;
                            font-size: 0.9rem;
                            height: 45px;
                            padding: 7px 15px 3px 5px;
                            color: #000;
                            &::placeholder {
                                font-size: 0.9rem;
                                font-weight: 700;
                                color: #adafca;
                            }
                        }
                    }
                }
                .pop-blogs {
                    .pop-blog {
                        display: flex;
                        border-bottom: 1px solid rgba(0,0,0, 0.08);
                        padding: 20px 0 15px 0;
                        text-decoration: none;
                        color: #212529;
                        &:last-child {
                            border-bottom: 0;
                        }
                        &:hover {
                            .pop-blog-info {
                                h6 {
                                    color: $secondColor !important;
                                }
                            }
                        }
                        .pop-blog-img {
                            margin-left: 15px;
                            figure {
                                height: 50px;
                                width: 50px;
                                margin-bottom: 0;
                                border-radius: 8px;
                                background: {
                                    size: cover;
                                    position: center center;
                                    repeat: no-repeat;
                                }
                            }
                        }
                        .pop-blog-info {
                            h6 {
                                font-size: 0.85rem;
                                font-weight: 700;
                                margin-bottom: 1px;
                                transition: all 0.3s ease-in-out;
                                color: #000;
                            }
                            span {
                                direction: ltr;
                                color: $secondColor;
                                font-size: 0.75rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .blog-tags {
                    ul {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 25px 0 0 0;
                        li {
                            padding: 0px 8px;
                            margin: 3px 3px;
                            position: relative;
                            height: 31px;
                            font-size: 0.7rem;
                            display: inline-block;
                            z-index: 1;
                            background: 0 0;
                            line-height: 36px;
                            font-weight: 700;
                            cursor: pointer;
                            background: var(--light-dark28);
                            &:hover {
                                &:before {
                                    background: $secondColor;
                                }
                                a {
                                    color: #FFF;
                                }
                            }
                            a {
                                color: #000;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                        .blog-tag-active {
                            background: $secondColor !important;
                            a {
                                color: #FFF !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .blog-card {
        background: #FFF;
        border-radius: 12px;
        margin-bottom: 25px;
        .blog-image {
            height: 185px;
            width: 100%;
            position: relative;
            figure {
                height: 100%;
                width: 100%;
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                }
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
                margin: 0;
            }
            .date {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background: #FFF;
                padding: 3px 10px;
                font-size: 0.8rem;
                font-weight: 700;
            }
        }
        .blog-info {
            padding: 20px 30px;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
            .cat {
                color: #0e3e2f;
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: 7px;
            }
            .blog-title {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                h3 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    flex: 1;
                   margin-left: 20px;
                }
                a {
                    background: #ebf3ee;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

.one-blog-page {
    padding: 75px 0 0 0;
    .blog {
        padding: 100px 0 100px 0;
        margin-top: 50px;
    }
}

.blog-main-info {
    .blog-main-image {
        figure {
            width: 100%;
            border-radius: 12px;
            aspect-ratio: 12/6;
            background: {
                size: cover;
                position: center center;
                repeat: no-repeat;
            }
            margin-top: -150px;
            position: relative;
            z-index: 15;
        }
    }
    .blog-share {
        margin-bottom: 50px;
        span {
            font-size: 0.8rem;
            font-weight: 700;
            margin-bottom: 10px;
            display: flex;
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            li {
                background: #f5f5f5;
                width: 100%;
                text-align: center;
                padding: 20px 0;
                a {
                    svg {
                        height: 25px;
                        width: 25px;
                        fill: #000;
                        text-align: center;
                    }
                }
            }
        }
    }
}

[lang="en"] {
    .blog-page {
        .blog-more-cards {
            .blog-more-card {
                .pop-blogs {
                    .pop-blog {
                        .pop-blog-img {
                            margin-left: 0;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        .blog {
            .blog-card {
                .blog-card-content {
                    .blog-card-info {
                        text-align: left;
                    }
                }
            }
        }
    }
    .blog-search {
        .blog-card {
            .blog-card-content {
                .blog-card-info {
                    text-align: left;
                }
            }
        }
    }
    .blog-search-head {
        .form-group {
            position: relative;
            .form-control {
                padding: 7px 5px 3px 35px;
                direction: ltr;
            }
            button {
                left: unset;
                right: 6px;
            }
        }
    }
}