.packges-page {
    .packges {
        padding: 100px 0;
        .packges-container {
            margin-top: 75px;
        }
    }
}
.pack-card {
    background: #FFF;
    border: 1px solid #e3e5ef;
    border-radius: 12px;
    padding: 50px 25px 40px 25px;
    margin-bottom: 12px;
    .pack-info {
        text-align: center;
        margin-bottom: 35px;
        h6 {
            font-weight: 600;
            font-size: 1.25rem;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: -10px;
            color: #0e3e2f;
            font-family: "num";
        }
        span {
            font-size: 0.8rem;
            color: #515151;
            font-weight: 700;
        }
    }
    .pack-details {
        margin-bottom: 40px;
        ul {
            padding: 0 5px 0 0;
            li {
                margin: 7px 0;
                svg {
                    height: 20px;
                    width: 20px;
                    fill: #000;
                }
                span {
                    font-weight: 600;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .pack-action {
        a {
            padding: 14px 14px;
            font-size: 0.95rem;
            height: 53px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            border: unset !important;
            color: #ffffff;
            background-color: transparent;
            background-image: radial-gradient(at bottom center, #a8e063 0%, #009578 60%);
            border-radius: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 5px;
            margin-right: 0px;
        }
        span {
            text-align: center;
            font-size: 0.8rem;
            color: #515151;
            font-weight: 700;
            margin-top: 10px;
            display: block;
        }
    }
}
.pack-card-pop {
    background-image: url(assets/images/why.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: unset;
    border-radius: 12px;
    padding: 50px 25px 40px 25px;
    .pack-info {
        text-align: center;
        margin-bottom: 35px;
        h6 {
            font-weight: 600;
            font-size: 1.25rem;
            margin-bottom: 15px;
            color: #FFF;
        }
        h3 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: -10px;
            color: #0e3e2f;
            font-family: "num";
            color: #FFF;
        }
        span {
            font-size: 0.8rem;
            color: #515151;
            font-weight: 700;
            color: #e6fd5a;
        }
    }
    .pack-details {
        margin-bottom: 40px;
        ul {
            padding: 0 5px 0 0;
            li {
                margin: 7px 0;
                svg {
                    height: 20px;
                    width: 20px;
                    fill: #FFF;
                }
                span {
                    font-weight: 600;
                    font-size: 0.8rem;
                    color: #FFF;
                }
            }
        }
    }
    .pack-action {
        a {
            padding: 14px 14px;
            font-size: 0.95rem;
            height: 53px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0;
            border: unset !important;
            color: #000;
            background-color: transparent;
            background: #a8e063;
            border-radius: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 5px;
            margin-right: 0px;
        }
        span {
            text-align: center;
            font-size: 0.8rem;
            color: #454545;
            font-weight: 700;
            margin-top: 10px;
            display: block;
        }
    }
}